$white: #fff;
$black: #000;
$dahboard_bg: #dadada;
$light_dark: #3a3c38;
$lighter_dark: rgba(0, 0, 0, 0.8);
$btn_bg: #00ca54;
$logout: #ff0000;
$light_bg: #f2f2f2;
$placeholder_text: rgba(60, 60, 67, 0.6);
$dark_text: #1a1c19;
