$white: #fff;
$black: #000;
$dahboard_bg: #dadada;
$light_dark: #3a3c38;
$lighter_dark: rgba(0, 0, 0, 0.8);
$light_nav_text: #8f918c;
$btn_bg: #00ca54;
$logout: #ff0000;
$light_bg: #f2f2f2;
$placeholder_text: rgba(60, 60, 67, 0.6);
$dark_text: #1a1c19;
$placeholder_img: #e2e3dd;
$btn_light_text: #c6c7c2;
$coloredBox2: #4c27fc;
$settings_active: #c6ffc6;
$acct_header: #5d5f5b;
$shadow_btn: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
$input_label: #767873;
