/* MIXINS */
@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BUTTON VARIABLES */

.btn_main {
  @include flex_center();
  height: 2.5rem;
  padding: 0.875rem 1.25rem;
  gap: 0.625rem;
  border-radius: 0.875rem;
  background: $btn_bg;
  color: $white;
  text-align: center;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.375rem;
  letter-spacing: -0.0255rem;
  width: 100%;
  transition: all 0.4s ease-in-out;
  scale: 1;

  &:hover {
    scale: 1.1;
    font-weight: 800;
  }
}

/* HOVER ANIMATIONS */
.hover_animation {
  scale: 1;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    scale: 1.2;
  }

  &.small {
    &:hover {
      scale: 1.1;
    }
  }
}

/* BG */
.light_bg {
  border-radius: 50%;
  padding: 0.5rem;
  background: $light_bg;
}

/* TEXT VARIABLES */
.primary_text {
  color: $btn_bg;
}

/* TEXT VARIABLES */
.text_black {
  color: $black;
}
.text_white {
  color: $white;
}
.text_btn_bg {
  color: $btn_bg;
}
.text_light_dark {
  color: $light_dark;
}
