@import "./colors";
@import "./variables";
@import "./header";
@import "./sidenav";
@import "./subscription";

/* DASHBOARD STYLES */

.dashboard {
  &_main {
    width: 100vw;
    height: 100dvh;
    background: $dahboard_bg;
    color: $black;
    padding: 1rem;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    overflow: hidden;

    &_inner {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.5rem;
    }

    &_left {
      width: fit-content;
    }

    &_right {
      width: 100%;

      &_inner {
        display: grid;
        gap: 0.5rem;
      }
    }
  }

  &_bottom_sec {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;

    .bottom_left {
      width: 100%;
    }

    .bottom_right {
      display: grid;
      gap: 0.5rem;
    }
  }
}

/* SUMMARY SECTION */

.summary {
  background: $white;
  margin-block: 0 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  height: 17rem;

  &_inner {
    padding: 1.5rem 2rem;
    display: grid;
    gap: 1rem;
  }
  &_top {
    @include flex_center();
    justify-content: space-between;

    &_left {
      color: $light_dark;
      display: grid;
      gap: 0.2rem;
      h4 {
        font-size: 1.0625rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.375rem;
        letter-spacing: -0.0255rem;
      }

      p {
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1rem;
      }
    }

    &_middle {
      border-radius: 6.25rem;
      background: $light_bg;
      overflow: hidden;

      &_inner {
        @include flex_center();
        button {
          color: $btn_light_text;
          font-size: 0.9375rem;
          font-style: normal;
          font-weight: 600;
          line-height: 1.25rem;
          letter-spacing: -0.03125rem;
          height: 2.875rem;
          padding: 0.875rem 1.25rem;
          gap: 0.625rem;
          scale: 0.9;
          transition: all 0.2s ease-in-out;

          &:hover,
          &.btn_active {
            color: $white;
            background: $btn_bg;
            border-radius: 6.25rem;
            scale: 1;
          }
        }
      }
    }

    &_right {
      @include flex_center();
      gap: 0.5rem;
    }
  }

  &_bottom {
    &_inner {
      @include flex_center();
      justify-content: space-between;
      gap: 1.5rem;
    }
  }

  &_box {
    width: 100%;
    max-width: 22rem;
    height: 10.125rem;
    border-radius: 1.25rem;
    background: $white;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    overflow: hidden;
    &_inner {
      display: grid;
      gap: 2rem;
    }

    &_top {
      @include flex_center();
      justify-content: space-between;
      img {
        border-radius: 50%;
        padding: 0.5rem;
        background: $light_bg;
        @include flex_center();
      }

      h5 {
        color: #000;
        text-align: right;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.125rem;
        letter-spacing: 0.0225rem;
      }
    }

    &_bottom {
      text-align: right;
      p {
        color: $dark_text;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5625rem;
        letter-spacing: 0.02375rem;
        text-transform: capitalize;
      }

      span {
        padding: 0;
        margin: 0;
        color: $btn_bg;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem;
        letter-spacing: -0.03125rem;
      }
    }
  }
}

/* TARGET SECTION */
.target {
  background: $white;
  width: 100%;
  height: 15rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  &_inner {
    padding: 1rem;

    h6 {
      color: $light_dark;
      font-size: 1.0625rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.375rem;
      letter-spacing: -0.0255rem;
      text-transform: capitalize;

      &:nth-of-type(2) {
        text-align: center;
      }
    }
  }

  &_img {
    width: 100%;
    @include flex_center();
    margin: 0.8rem 0;
  }
}

/* REVIEWS SECTION */
.reviews {
  background: $white;
  width: 100%;
  height: 24.5dvh;
  border-radius: 0.5rem;
  flex-shrink: 0;
  padding: 1rem;

  &.isCustomerMainHeight {
    height: 37.3dvh;
  }

  &_header {
    color: $light_dark;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem;
    letter-spacing: -0.0255rem;
    text-transform: capitalize;
  }
  &_box {
    width: 100%;

    &_left {
      h6 {
        color: $light_dark;
        font-size: 1.0625rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.375rem;
        letter-spacing: -0.0255rem;
      }
    }
  }

  /* REVIEWS BOX */

  &_box {
    &_main {
      display: grid;
      gap: 1rem;
      margin-top: 1.5rem;
      height: 16dvh;
      overflow-y: scroll;

      &.isCustomerHeight {
        height: 29.5dvh;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &_inner {
      @include flex_center();
      justify-content: space-between;
      gap: 1rem;
    }

    &_left {
      @include flex_center();
      gap: 0.5rem;
    }
    &_right {
      @include flex_center();
    }
  }
}

/* SUBSCRIPTION PAGE */
.subscription_page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
  height: 100%;

  &_left {
    width: 100%;
  }

  &_right {
    display: grid;
    gap: 0.5rem;
  }
}

/* CUSTOM PAGE HEIGHTS */
.pageHeight {
  height: 80.5dvh;
}

.pageTableHeight {
  max-height: 63dvh;
}

/* TOP SELLER STYLES */
.topseller {
  width: 16.8125rem;
  height: 25rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: $white;
  color: $light_dark;

  &_inner {
    padding: 1.5rem;
  }

  &_top {
    @include flex_center();
    text-align: center;

    &_inner {
      display: grid;
      gap: 1.5rem;

      img {
        width: 5.5rem;
        aspect-ratio: 1/1;
        margin-top: 1.5rem;
      }

      p {
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.25rem;
        letter-spacing: -0.03125rem;
      }
    }
  }

  &_bottom {
    margin-top: 2.5rem;

    &_inner {
      @include flex_center();
      justify-content: space-between;
      gap: 1.5rem;
      & > div {
        display: grid;
        gap: 0.5rem;
        text-transform: capitalize;

        h6 {
          font-size: 0.8125rem;
          font-style: normal;
          font-weight: 600;
          line-height: 1.125rem;
          letter-spacing: -0.00488rem;

          &.reach_header {
            text-align: right;
          }
        }

        span {
          color: $black;
          font-size: 1.0625rem;
          font-style: normal;
          font-weight: 600;
          line-height: 1.375rem;
          letter-spacing: -0.0255rem;
        }
      }
    }
  }

  &_btn {
    background: $btn_bg;
    color: $white;
    @include flex_center();
    width: 100%;
    max-width: 12.5625rem;
    height: 2.5rem;
    padding: 0.875rem 1.25rem;
    margin-top: 1.5rem;
    margin-inline: auto;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    border: 1px solid $btn_bg;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.125rem;
    letter-spacing: -0.00488rem;
    text-transform: capitalize;
  }
}

/* REVENUE STYLES */
.revenue {
  background: $white;
  color: $light_dark;
  border-radius: 0.5rem;
  width: 100%;
  height: 37.4dvh;
  flex-shrink: 0;

  &_inner {
    padding: 1.5rem;

    h4 {
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.5625rem;
      letter-spacing: 0.02375rem;
      text-transform: capitalize;
    }

    img {
      width: 100%;
      max-width: 12rem;
      aspect-ratio: 1/1;
      margin: 1rem auto;
    }
  }

  &_bottom {
    ul {
      display: grid;
      gap: 1rem;
      font-size: 1.0625rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.375rem;
      letter-spacing: -0.0255rem;

      .colored_box {
        content: "";
        padding: 0.1rem 0.7rem;
        border-radius: 0.3125rem;
        margin-inline: 0.5rem 1rem;

        &.first {
          background: $btn_bg;
        }
        &.second {
          background: $coloredBox2;
        }
      }
    }
  }
}

/* CUSTOMER STYLES */
.customer {
  &_inner {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
  }

  &_left {
    width: 75%;
  }
  &_right {
    width: 25%;
    display: grid;
    gap: 0.5rem;
  }
}

/* TOPCUSTOMER STYLES  */
.topcustomer {
  width: 100%;
  height: 25rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: $white;

  &_inner {
    padding: 1.5rem;
    display: grid;
    gap: 1rem;

    img {
      width: 100%;
      max-width: 10.5rem;
      aspect-ratio: 1/1;
      margin: 0 auto;
    }
    h6,
    p {
      text-align: center;
      font-size: 1.0625rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.375rem;
      letter-spacing: -0.0255rem;
    }
  }

  &_body {
    @include flex_center();
    display: grid;
    gap: 2rem;
  }

  &_details {
    display: grid;
    width: 100%;
    max-width: 19.125rem;
    height: 6.25rem;
    margin: 0 auto;
    padding: 0.875rem 1.25rem;
    border: 1px solid $btn_bg;
  }
}
