@import "./colors";
@import "./variables";
@import "./header";
@import "./sidenav";

/* DASHBOARD STYLES */

.dashboard {
  &_main {
    width: 100vw;
    height: 100dvh;
    background: $dahboard_bg;
    color: $black;
    padding: 1rem;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    overflow: hidden;

    &_inner {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.5rem;
    }

    &_left {
      width: fit-content;
    }

    &_right {
      width: 100%;
    }
  }
}
