.subscription {
  background: $white;
  height: auto;
  border-radius: 0.5rem;
  overflow-y: hidden;
  border: 1px solid red;

  &_inner {
    padding: 1rem 0.5rem;
  }

  &_top {
    @include flex_center();
    justify-content: space-between;
    padding: 1.5rem;

    h4 {
      color: $light_dark;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.5625rem;
      letter-spacing: 0.02375rem;
      text-transform: capitalize;
    }

    p {
      color: $btn_bg;
      font-size: 0.9375rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.25rem;
      letter-spacing: -0.03125rem;
    }
  }

  &_table {
    &_nav {
      ul {
        border-radius: 0.5rem;
        border: 1px solid #c6c7c2;
        width: 100%;
        height: 2.5rem;
        padding: 0.6rem 5rem;
        flex-shrink: 0;
        @include flex_center();
        justify-content: space-between;
        color: $btn_bg;
        text-align: center;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.25rem;
        letter-spacing: -0.03125rem;

        li {
          cursor: pointer;
          scale: 1;
          transition: all 0.4s ease-in-out;

          &:hover {
            scale: 1.2;
          }

          &:nth-child(1) {
            color: $light_dark;
          }
        }
      }
    }

    &_data {
      overflow: scroll;
      max-height: 34vh;
      margin-block: 1.5rem 0;
      display: grid;
      gap: 1rem;

      &::-webkit-scrollbar {
        display: none;
      }

      /* TABLE DATA BOX */
      .table_data {
        &_box {
          &_inner {
            width: 100%;
            padding: 0.5rem;
            @include flex_center();
            justify-content: flex-start;
            font-size: 0.9375rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.25rem;
            letter-spacing: -0.03125rem;

            @media screen and (min-width: 1400px) {
              padding: 0.5rem 1.5rem;
            }

            h5 {
              text-transform: capitalize;
            }
          }
        }

        &_profile {
          @include flex_center();
          justify-content: flex-start;
          gap: 0.5rem;
          color: $light_dark;
          width: 33%;

          &.pageProfileWidth {
            width: 45%;
          }

          img {
            @media screen and (max-width: 1400px) {
              width: 3rem;
            }
          }

          & > div {
            h5 {
              font-size: 0.7rem;
              @media screen and (min-width: 1200px) {
                font-size: 0.8rem;
              }
              @media screen and (min-width: 1400px) {
                font-size: 1rem;
              }
            }

            span {
              font-size: 0.8125rem;
              font-style: normal;
              font-weight: 600;
              line-height: 1.125rem;
              letter-spacing: -0.00488rem;
            }
          }
        }

        &_product {
          width: 31%;
          &.pageProductWidth {
            width: 44%;
          }
        }

        &_status {
          width: 30.3%;

          &.pageStatusWidth {
            width: fit-content;
          }
        }
      }
    }
  }
}
